@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }
  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

@layer utilities {
  .animate-pulse512 {
    animation: pulse512 1.5s infinite;
  }
}
